<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IMyEvent" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMyEvent">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IMyEvent">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:7003/MyPublishService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMyEvent"
                contract="ServiceReference.IMyEvent" name="NetTcpBinding_IMyEvent" />
            <!--<endpoint address="http://localhost:7005/MyPublishService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IMyEvent" contract="ServiceReference.IMyEvent"
                name="WSDualHttpBinding_IMyEvent" />
            <endpoint address="net.pipe://localhost/MyPublishService" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IMyEvent" contract="ServiceReference.IMyEvent"
                name="NetNamedPipeBinding_IMyEvent">
                <identity>
                    <userPrincipalName value="CLAUDE-HE\Yongen" />
                </identity>
            </endpoint>-->
        </client>
    </system.serviceModel>
</configuration>