<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:7002/MySubscriptionService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMyService"
                contract="SubscriptionServiceRef.IMyService" name="NetTcpBinding_IMyService" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IMyService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>