<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      
      <endpoint address="net.tcp://localhost:7002/MySubscriptionService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMyService"
        contract="ServiceReference.IMyService" name="NetTcpBinding_IMyService" />
      <!--<endpoint address="http://localhost:7004/MySubscriptionService"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IMyService"
        contract="ServiceReference.IMyService" name="WSDualHttpBinding_IMyService" />
      <endpoint address="net.pipe://localhost/MySubscriptionService"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IMyService"
        contract="ServiceReference.IMyService" name="NetNamedPipeBinding_IMyService">
        <identity>
          <userPrincipalName value="CLAUDE-HE\Yongen" />
        </identity>
      </endpoint>-->
    </client>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IMyService" />
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="netTcpBinding">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IMyService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IMyService">
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
  </system.serviceModel>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>