<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://localhost/MySubscriptionService"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IMyService"
                contract="SubscriptionServiceRef.IMyService" name="NetNamedPipeBinding_IMyService">
        <identity>
          <userPrincipalName value="CLAUDE-HE\Yongen" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IMyService" />
        <binding name="NetNamedPipeBinding_IMyEvent" />
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>