<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:7004/MySubscriptionService"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IMyService"
                contract="SubscriptionServiceRef.IMyService" name="WSDualHttpBinding_IMyService" />
    </client>
    <bindings>
      <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IMyService">
                    <security mode="None" />
                </binding>
                <binding name="WSDualHttpBinding_IMyEvent">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
    </bindings>
  </system.serviceModel>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>