<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IMyService" />
                <binding name="NetNamedPipeBinding_IMyEvent" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMyService">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IMyEvent">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IMyService">
                    <security mode="None" />
                </binding>
                <binding name="WSDualHttpBinding_IMyEvent">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:7002/MySubscriptionService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMyService"
                contract="SubscriptionServiceRef.IMyService" name="NetTcpBinding_IMyService" />
            <endpoint address="http://localhost:7004/MySubscriptionService"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IMyService"
                contract="SubscriptionServiceRef.IMyService" name="WSDualHttpBinding_IMyService" />
            <endpoint address="net.pipe://localhost/MySubscriptionService"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IMyService"
                contract="SubscriptionServiceRef.IMyService" name="NetNamedPipeBinding_IMyService">
                <identity>
                    <userPrincipalName value="CLAUDE-HE\Yongen" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:7003/MyPublishService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMyEvent"
                contract="PublishServiceRef.IMyEvent" name="NetTcpBinding_IMyEvent" />
            <endpoint address="http://localhost:7005/MyPublishService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IMyEvent" contract="PublishServiceRef.IMyEvent"
                name="WSDualHttpBinding_IMyEvent" />
            <endpoint address="net.pipe://localhost/MyPublishService" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IMyEvent" contract="PublishServiceRef.IMyEvent"
                name="NetNamedPipeBinding_IMyEvent">
                <identity>
                    <userPrincipalName value="CLAUDE-HE\Yongen" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>