<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
    <services>
        <service behaviorConfiguration="MEX_SUB" name="MyEnsServer.MyService">
            <endpoint address="MEX_SUB" binding="mexHttpBinding" contract="IMetadataExchange" />
            <endpoint address="MEX_SUB" binding="mexTcpBinding" contract="IMetadataExchange" />
            <endpoint address="MEX_SUB" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
            <endpoint address="net.tcp://localhost:7002/MySubscriptionService"
                binding="netTcpBinding" bindingConfiguration="netTcpBindingSub"
                contract="MyContract.IMyService" />
            <endpoint address="http://localhost:7004/MySubscriptionService"
                binding="wsDualHttpBinding" bindingConfiguration="httpBindingSub"
                contract="MyContract.IMyService" />
            <endpoint address="net.pipe://localhost/MySubscriptionService"
                binding="netNamedPipeBinding" bindingConfiguration="namedPipeBindingSub"
                contract="MyContract.IMyService" />
            <host>
                <baseAddresses>
                    <add baseAddress="http://localhost:8800/" />
                    <add baseAddress="net.tcp://localhost:8801/" />
                    <add baseAddress="net.pipe://localhost/" />
                </baseAddresses>
            </host>
        </service>
        <service behaviorConfiguration="MEX_PUB" name="MyEnsServer.MyEventRelayService">
            <endpoint address="MEX_PUB" binding="mexTcpBinding" contract="IMetadataExchange" />
            <endpoint address="MEX_PUB" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
            <endpoint address="MEX_PUB" binding="mexHttpBinding" contract="IMetadataExchange" />
            <endpoint address="net.tcp://localhost:7003/MyPublishService"
                      binding="netTcpBinding" 
                      bindingConfiguration="netTcpBindingSub"
                      contract="MyContract.IMyEvent" />
            <endpoint address="http://localhost:7005/MyPublishService"
                      binding="wsDualHttpBinding" 
                      bindingConfiguration="httpBindingSub"
                      contract="MyContract.IMyEvent" />
            <endpoint address="net.pipe://localhost/MyPublishService" 
                      binding="netNamedPipeBinding"
                      bindingConfiguration="namedPipeBindingSub" 
                      contract="MyContract.IMyEvent" />
            <host>
                <baseAddresses>
                    <add baseAddress="http://localhost:8802/" />
                    <add baseAddress="net.tcp://localhost:8803/" />
                    <add baseAddress="net.pipe://localhost/" />
                </baseAddresses>
            </host>
        </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MEX_SUB"  >
          <serviceMetadata httpGetEnabled="true"  />
        </behavior>
        <behavior name="MEX_PUB"  >
          <serviceMetadata  httpGetEnabled="true"  />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingSub">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="httpBindingSub">
          <security mode="None"/>
        </binding>
      </wsDualHttpBinding>
      <netNamedPipeBinding>
        <binding name="namedPipeBindingSub">

        </binding>
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
</configuration>